#h{
    margin:0 auto;
    width: 240px;
    text-align: center;
    border: 5px solid rgb(18, 22, 22);
    border-radius: 10px;
    
}
#l{
    font-size: 0px;
     
    
}
.b{
    font-size: 25px;
    height: 60px;
    width: 60px;
    margin: 0;
    color: rgb(173, 173, 180);
    background-color: blueviolet;
    border: 0 solid royalblue;
    
}
.b:hover{
    
        font-size: 25px;
        height: 60px;
        width: 60px;
        margin: 0;
        color: rgb(8, 203, 238);
        background-color: rgb(143, 147, 167);
        border: 2px solid rgb(139, 4, 250);
        border-radius: 9px;
}
#y{
    height: 90px;
    width: 233px;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: right;
    
}
.k{
    background-color: rgb(20, 26, 26);
}
#w{
    background-color: brown;
}