
 
 
.anima{
     position: absolute;
     justify-content: center;
     align-items: center;
    transform: scale(0);
    
    background-color: blanchedalmond;
}
.anima i,h1{
      
    font-size: 5rem;
    color: rgb(39, 12, 63);
}
.anima.crnt {
    position: absolute;
    transform:    scale(1);
}