
.parst{
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
    color: rgb(51, 16, 83);
    padding: 10px;
    border: 5px blue dotted;
    border-radius: 17px;
    width: 400px;
}

.nvmn ul li {

    list-style-type: none;
 
}
.nvmn ul li a{
    text-decoration: none;
 
}

.hp{
    color: rgb(21, 21, 78);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}